@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<band_catalogue.Models.Band>

<div class="text-center">
    <h1 class="display-4">Welcome to the Band Catalogue</h1>
    <p>Here you can find information about your favorite bands.</p>
    <a asp-controller="Bands" asp-action="Index" class="btn btn-primary">View Bands</a>
    <a asp-controller="Albums" asp-action="Index" class="btn btn-primary">View Albums</a>
    
</div>